<p>
  This list of domains is updated once every couple of months.
</p>

Filter by: <br>
Letter: <a href *ngFor="let letter of arrAthruZ" (click)="filterDomainByFirstLetter(letter)" style="margin-right: 5px;">{{letter}}</a>
<br>
TLD: <a href *ngFor="let tld of tlds" (click)="filterDomainByTld(tld)" style="margin-right: 5px;">{{tld}}</a>
<br>


<table class="table table-striped table-hover">
  <thead class="table-info">
    <tr>
      <th scope="col" (click)="sortTableByColumnAscDesc($event, 'name')" class="sortable">Domain</th>
      <th scope="col" (click)="sortTableByColumnAscDesc($event, 'domain_tld')" class="sortable">TLD</th>
      <th scope="col" (click)="sortTableByColumnAscDesc($event, 'domain_length')" class="sortable">Length</th>
      <th scope="col" (click)="sortTableByColumnAscDesc($event, 'create_ts')" class="sortable">Registered on</th>
      <th scope="col" (click)="sortTableByColumnAscDesc($event, 'age')" class="sortable">Age</th>
      <th scope="col" (click)="sortTableByColumnAscDesc($event, 'expire_ts')" class="sortable">Expires on</th>
      <th scope="col" (click)="sortTableByColumnAscDesc($event, 'days_left')" class="sortable">Days left</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="loading">
      <td colspan="7">Loading...</td>
    </tr>
    <tr *ngIf="filteredDomains.length == 0 && !loading">
      <td colspan="7">No domains found.</td>
    </tr>
    <tr *ngFor="let domain of filteredDomains">
      <th scope="row">{{domain.name}}</th>
      <td>{{domain.domain_tld}}</td>
      <td>{{domain.domain_length}}</td>
      <td>{{domain.create_ts}}</td>
      <td>{{domain.age < 1 ? '< 1 year' : domain.age == 1 ? ' year' : domain.age + ' years'}}</td>
      <td>{{domain.expire_ts}}</td>
      <td>{{domain.days_left == 1 || domain.days_left < 1 ? '1' : domain.days_left}}</td>
    </tr>
  </tbody>
