
<div class="row">
  <div class="col-5">
    <img src="assets/make-offer.webp" alt="Domains Vault" class="img-fluid" />
  </div>
  <div class="col-7">
    <p>
      Calling all domain enthusiasts and potential website owners!
    </p>
    <p>
      Are you intrigued by the potential of this domain? If so, we invite you to seize this golden opportunity. We welcome all offers from those interested in making this domain their own.
    </p>
    <p>
      Take the first step towards claiming this digital address for your dream project. Make your offer now, and let's unlock the possibilities together!
    </p>
    <p>
      Don't miss out on this chance to secure a prime piece of the internet. Get in touch with your offer, and let's make magic happen!
    </p>

    <div class="row">
      <div class="col-12">
        Form
      </div>
    </div>

  </div>
</div>
