<nav class="py-2 border-bottom navbar bg-primary">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-body-emphasis px-2">Home</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link link-body-emphasis px-2">About</a></li>
      <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link link-body-emphasis px-2">Contact</a></li>
      <li class="nav-item"><a routerLink="/make-offer" routerLinkActive="active" class="nav-link link-body-emphasis px-2">Make an offer</a></li>
      <li class="nav-item"><a routerLink="/report-problem" routerLinkActive="active" class="nav-link link-body-emphasis px-2">Report problem</a></li>
      <li class="nav-item"><a routerLink="/domain-list" routerLinkActive="active" class="nav-link link-body-emphasis px-2">Domain list</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link link-body-emphasis px-2">
        <i class="bi bi-lock"></i> Login
      </a></li>
    </ul>
  </div>
</nav>
