
<div class="row">
  <div class="col-5">
    <img src="assets/report-problem.png" alt="Domains Vault" class="img-fluid" />
  </div>
  <div class="col-7">
    <p>Dear Person,</p>
    <p>
      At <strong>Domains Vault</strong>, we take the security and integrity of our platform very seriously.
      We strive to maintain a safe and positive online environment for all domains under our care. If you have
      come across any domain registered with us that is involved in spamming or any other form of abuse, we
      kindly request you to report the issue to us immediately.
    </p>
    <p>
      Your vigilance and assistance in identifying such incidents are crucial in ensuring a clean and
      trustworthy digital space. We have a zero-tolerance policy for any misuse of domains within our
      network, and your prompt reporting will aid us in taking appropriate action swiftly.
    </p>
    <p>
      When reporting the problem, please provide us with as much detail as possible about the domain in
      question and the nature of the abuse you have encountered. The more information you can share, the
      better equipped we will be to investigate and address the issue effectively.
    </p>
    <p>Rest assured that your report will be treated with the utmost confidentiality, and the severity of
      the problem will be thoroughly assessed by our dedicated team. We are committed to acting promptly
      and taking all necessary measures to rectify the situation and prevent any future occurrences.
    </p>
    <p>
      You can submit your report through our contact page or directly reach out to our support team via
      email. Your cooperation is vital in maintaining the integrity of our domain services and upholding
      the highest standards of online conduct.
    </p>
    <p>
      Thank you for your continued support and for being an essential part of the <strong>Domains Vault</strong>
      community. Together, we can foster a secure and trustworthy digital environment for everyone.
    </p>
  </div>
</div>

<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-12 col-lg-9">
        <div class="overflow-hidden">

          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">

              <div class="col-12 mt-0 mb-0">
                <div *ngIf="showSuccessBanner" class="alert alert-success" role="alert">
                  Your message has been sent successfully.
                </div>
                <div *ngIf="showErrorBanner" class="alert alert-danger" role="alert">
                  An error occurred while sending your message. Please try again later.
                </div>
              </div>

              <div class="col-12">
                <label for="name" class="form-label">Full Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="name" name="name" required formControlName="name">
                <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.hasError('required')" class="text-danger">
                  Name is required.
                </div>
              </div>
              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                <div class="input-group">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                    </svg>
                  </span>
                  <input type="email" class="form-control" id="email" name="email" value="" required formControlName="email">
                </div>
                <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.hasError('required')" class="text-danger">
                  Email is required.
                </div>
              </div>
              <div class="col-12">
                <label for="message" class="form-label">Outline in as much detail, the problem you are experiancing <span class="text-danger">*</span></label>
                <textarea class="form-control" id="message" name="message" rows="12" required formControlName="message"></textarea>
                <div *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.hasError('required')" class="text-danger">
                  Message is required.
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn {{contactForm.invalid ? 'btn-secondary' : 'btn-primary'}} btn-lg" type="submit" [disabled]="contactForm.invalid">Submit</button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
